* {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100%;
  height: 30vh;
  /* background: linear-gradient(160deg, #3498db 50%, #ffffff 50%); */
  background: linear-gradient(170deg, #0891b2 70%, #ffffff 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

main {
  padding: 12px;
}

.hero-image {
  background-image: url("./assets/images/Suited.png");
  height: 190px;
  width: 35%;
  background-color: #9a9a94;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  object-fit: cover;
}

.hero-image-text {
  /* background-color: black; */
  color: white;
  letter-spacing: 2px;
}

.card {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 12px;
  width: 50%;
}

.summary {
  font-size: small;
  margin-top: 8px;
}

.icons-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.icon {
  margin: 0px 3px;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 40%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  background-color: #0891b2;
}

.project-info-wrapper {
  padding: 12px;
}

.project-title-wrapper {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}

.project-title {
  font-size: medium;
}

.project-desc {
  font-size: small;
  margin-top: 5px;
  padding-bottom: 16px;
}
